<section class="products-index">

  <header class="page-header">
    <h1>Gold</h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

  <header class="page-header">
    <h1>Silver</h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>
  <header class="page-header">
    <h1>Diamond</h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>
  <header class="page-header">
    <h1>Stones and pearls</h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>
</section>
